.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.8;
}
.card {
  top: 20px;
  padding: 10px;
  border-width: 2px;
}
h1 {
  font-weight: 600;
  font-size: 32px;
}
h2 {
  font-weight: 300;
  font-size: 12px;
  margin-left: 38px;
  padding: 0px 10px 0px 5px;
}
h3 {
  padding: 0px 10px 0px 10px;
  font-size: 100px;
  margin: 0px 2px 0px 0px;
  text-align: right;
  margin-top: -115px;
  margin-right: -15px;
}
h4 {
  font-weight: 200;
  font-size: 10px;
  text-align: right;
  margin-right: 8px;
  margin-top: 20px;
  margin: 0px 2px 2px 0px;
}
.unit {
  font-size: 18px;
}
.time {
  font-weight: 360;
  font-size: 18px;
}
.row {
  text-align: center;
  font-size: 10px;
}
.day {
  font-size: 18px;
  text-align: center;
  padding: 0;
}
.emoji {
  font-size: 40px;
}
form {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.searchbar {
  opacity: 0.5;
}
.link {
  text-align: center;
  display: block;
}
